In [1]:
import quandl
quandl.ApiConfig.api_key = 'K9susGNjQFiUDi6Yitwp'
import numpy as np
import pandas as pd

# Portfolio: Apple, Microsoft, Nike, Tesla, Disney

In [3]:
prices = quandl.get_table('SHARADAR/SEP', ticker=['AAPL', 'MSFT','NKE', 'TSLA', 'DIS'], date={'gte':'2018-09-01', 'lte':'2018-12-31'}, paginate=True)

In [4]:
prices.head()

,ticker,date,open,high,low,close,volume,dividends,closeunadj,lastupdated
None,,,,,,,,,,
0,TSLA,2018-12-31,337.79,339.210,325.260,332.80,6270960.0,0.0,332.80,2018-12-31
1,TSLA,2018-12-28,323.10,336.240,318.410,333.87,9888522.0,0.0,333.87,2018-12-28
2,TSLA,2018-12-27,319.84,322.172,301.500,316.13,8500894.0,0.0,316.13,2018-12-27
3,TSLA,2018-12-26,300.00,326.970,294.090,326.09,8023770.0,0.0,326.09,2018-12-26
4,TSLA,2018-12-24,313.50,314.500,295.195,295.39,5554619.0,0.0,295.39,2018-12-28

In [5]:
pivoted = prices.pivot(index='date', columns='ticker', values='close')
pivoted.head()

ticker        AAPL     DIS    MSFT    NKE    TSLA
date
2018-09-04  228.36  110.85  111.71  79.60  288.95
2018-09-05  226.87  109.87  108.49  79.92  280.74
2018-09-06  223.10  110.26  108.74  80.40  280.95
2018-09-07  221.30  110.97  108.21  80.30  263.24
2018-09-10  218.33  110.68  109.38  82.10  285.50

In [9]:
cov_matrix = pivoted.pct_change().apply(lambda x: np.log(1+x)).cov()
cov_matrix

ticker      AAPL       DIS      MSFT       NKE      TSLA
ticker
AAPL    0.000553  0.000241  0.000398  0.000266  0.000350
DIS     0.000241  0.000244  0.000239  0.000161  0.000196
MSFT    0.000398  0.000239  0.000492  0.000304  0.000406
NKE     0.000266  0.000161  0.000304  0.000482  0.000298
TSLA    0.000350  0.000196  0.000406  0.000298  0.001929

In [13]:
aapl_nke = quandl.get_table('SHARADAR/SEP', ticker=['AAPL', 'NKE'], date={'gte':'2018-09-01', 'lte':'2018-12-31'}, paginate=True)

In [17]:
df = aapl_nke.pivot(index='date', columns='ticker', values='close')
df.head()

ticker        AAPL    NKE
date
2018-09-04  228.36  79.60
2018-09-05  226.87  79.92
2018-09-06  223.10  80.40
2018-09-07  221.30  80.30
2018-09-10  218.33  82.10

In [19]:
df.shape

(82, 2)

In [40]:
df_pct = df.pct_change().head()
df_pct

ticker          AAPL       NKE
date
2018-09-04       NaN       NaN
2018-09-05 -0.006525  0.004020
2018-09-06 -0.016617  0.006006
2018-09-07 -0.008068 -0.001244
2018-09-10 -0.013421  0.022416

In [23]:
cov_matrix = df.pct_change().apply(lambda x: np.log(1+x)).cov()
cov_matrix

ticker      AAPL       NKE
ticker
AAPL    0.000553  0.000266
NKE     0.000266  0.000482

# Portfolio Variance

# Portfolio Standard Deviation

In [25]:
weight = {'AAPL': .75, 'NKE': .25}

In [26]:
cov_matrix.mul(weight, axis=0)

ticker      AAPL       NKE
ticker
AAPL    0.000415  0.000199
NKE     0.000066  0.000120

In [31]:
p_var = cov_matrix.mul(weight, axis=0).mul(weight, axis=1).sum().sum()
p_var

0.0004408493465115601

In [32]:
p_sd = np.sqrt(p_var)
p_sd

0.020996412705782865

In [34]:
qtr_sd = p_sd*np.sqrt(81)
qtr_sd

0.1889677143520458

In [41]:
sd = df_pct.std()
sd

ticker
AAPL    0.004688
NKE     0.010213
dtype: float64