In [2]:
import quandl
quandl.ApiConfig.api_key = 'K9susGNjQFiUDi6Yitwp'
import numpy as np
import pandas as pd

In [3]:
prices = quandl.get_table('SHARADAR/SEP', ticker=['AAPL', 'KO','NKE', 'TSLA', 'DIS'], date={'gte':'2018-09-01', 'lte':'2018-12-31'}, paginate=True)

In [4]:
prices.head()

,ticker,date,open,high,low,close,volume,dividends,closeunadj,lastupdated
None,,,,,,,,,,
0,TSLA,2018-12-31,337.79,339.210,325.260,332.80,6270960.0,0.0,332.80,2018-12-31
1,TSLA,2018-12-28,323.10,336.240,318.410,333.87,9888522.0,0.0,333.87,2018-12-28
2,TSLA,2018-12-27,319.84,322.172,301.500,316.13,8500894.0,0.0,316.13,2018-12-27
3,TSLA,2018-12-26,300.00,326.970,294.090,326.09,8023770.0,0.0,326.09,2018-12-26
4,TSLA,2018-12-24,313.50,314.500,295.195,295.39,5554619.0,0.0,295.39,2018-12-28

In [5]:
prices.tail()

,ticker,date,open,high,low,close,volume,dividends,closeunadj,lastupdated
None,,,,,,,,,,
405,AAPL,2018-09-10,220.95,221.85,216.47,218.33,38847431.0,0.0,218.33,2018-09-10
406,AAPL,2018-09-07,221.85,225.37,220.71,221.30,36490602.0,0.0,221.30,2018-09-07
407,AAPL,2018-09-06,226.23,227.35,221.30,223.10,33736571.0,0.0,223.10,2018-09-06
408,AAPL,2018-09-05,228.99,229.67,225.10,226.87,32257344.0,0.0,226.87,2018-09-05
409,AAPL,2018-09-04,228.41,229.18,226.63,228.36,26481813.0,0.0,228.36,2018-09-04

In [6]:
pivoted = prices.pivot(index='date', columns='ticker', values='close')
pivoted.head()

ticker        AAPL     DIS     KO    NKE    TSLA
date
2018-09-04  228.36  110.85  44.76  79.60  288.95
2018-09-05  226.87  109.87  45.38  79.92  280.74
2018-09-06  223.10  110.26  45.77  80.40  280.95
2018-09-07  221.30  110.97  45.72  80.30  263.24
2018-09-10  218.33  110.68  46.06  82.10  285.50

In [7]:
pivoted.shape

(82, 5)

In [51]:
df = pivoted.pct_change()
df

ticker          AAPL       DIS        KO       NKE      TSLA
date
2018-09-04       NaN       NaN       NaN       NaN       NaN
2018-09-05 -0.006525 -0.008841  0.013852  0.004020 -0.028413
2018-09-06 -0.016617  0.003550  0.008594  0.006006  0.000748
2018-09-07 -0.008068  0.006439 -0.001092 -0.001244 -0.063036
2018-09-10 -0.013421 -0.002613  0.007437  0.022416  0.084562
...              ...       ...       ...       ...       ...
2018-12-24 -0.025874 -0.037133 -0.033845 -0.059002 -0.076242
2018-12-26  0.070422  0.054609  0.021323  0.072100  0.103930
2018-12-27 -0.006490  0.006520  0.012569  0.009040 -0.030544
2018-12-28  0.000512  0.007323 -0.006943 -0.004479  0.056116
2018-12-31  0.009665  0.021901  0.003178  0.010908 -0.003205

[82 rows x 5 columns]

# Variance

Variance is a measure of volatility because it measures how much a stock tends to deviate from its mean. 
The higher the variance, the more wildly the stock fluctuates. Accordingly, the higher the variance, the riskier the stock.

In [ ]:
aapl = pivoted['AAPL']
aapl

In [10]:
# Get the percentage change from the previous trading day
aapl_pct = pivoted['AAPL'].pct_change()
aapl_pct

date
2018-09-04         NaN
2018-09-05   -0.006525
2018-09-06   -0.016617
2018-09-07   -0.008068
2018-09-10   -0.013421
                ...
2018-12-24   -0.025874
2018-12-26    0.070422
2018-12-27   -0.006490
2018-12-28    0.000512
2018-12-31    0.009665
Name: AAPL, Length: 82, dtype: float64

In [15]:
# Create logrithamic dataframe
aapl_log_chg = pivoted['AAPL'].pct_change().apply(lambda x: np.log(1+x))
aapl_log_chg

date
2018-09-04         NaN
2018-09-05   -0.006546
2018-09-06   -0.016757
2018-09-07   -0.008101
2018-09-10   -0.013512
                ...
2018-12-24   -0.026215
2018-12-26    0.068053
2018-12-27   -0.006511
2018-12-28    0.000512
2018-12-31    0.009619
Name: AAPL, Length: 82, dtype: float64

In [18]:
# Add up the stock percentage change
aapl_pct.sum()

-0.34712076321399266

In [16]:
#Add up the logarithmic percentage change 
aapl_log_chg.sum()

-0.3699752231262134

In [23]:
aapl.count()

81

In [20]:
# Mean of Apple using sum of Apple's percentage change divided by trading days, 81.
mean_aapl = aapl_pct.sum()/aapl.count()
mean_aapl

-0.004285441521160403

In [25]:
# Mean of Apple with the sum of logarithmic percent change 
mean_aapl_log = aapl_log_chg.sum()/aapl.count()
mean_aapl_log

-0.004567595347237202

In [28]:
# Short way to get the average(mean) of Apple's daily stock percentage change
aapl_pct.mean()

-0.004285441521160403

In [29]:
# Short way to get the average(mean) of Apple's daily stock logarithmic percentage change
aapl_log_chg.mean()

-0.004567595347237202

In [43]:
#square deviation to preserve deviation and prevent 0
sqd_aapl = aapl_log_chg.apply(lambda x: (x-mean_aapl_log)**2)
sqd_aapl

date
2018-09-04         NaN
2018-09-05    0.000004
2018-09-06    0.000149
2018-09-07    0.000012
2018-09-10    0.000080
                ...
2018-12-24    0.000469
2018-12-26    0.005274
2018-12-27    0.000004
2018-12-28    0.000026
2018-12-31    0.000201
Name: AAPL, Length: 82, dtype: float64

In [44]:
#Sum up squared deviation of Apple stock
ssqd_aapl = sqd_aapl.sum()
ssqd_aapl

0.044229969504156696

In [45]:
var_aapl = ssqd_aapl/(aapl.count()-1)
var_aapl

0.0005528746188019587

In [46]:
aapl.var()

0.0005528746188019586

In [52]:
df.var()

ticker
AAPL    0.000548
DIS     0.000242
KO      0.000113
NKE     0.000484
TSLA    0.001983
dtype: float64

# Standard Deviation

# Determining stock volatility in Q4 2018

In [ ]:
daily_sd = np.sqrt(var_aapl)
daily_sd

In [ ]:
quarter_sd = daily_sd*np.sqrt(82)
quarter_sd

In [ ]:
daily_sd_tickers = pivoted.pct_change().apply(lambda x: np.log(1+x)).std()
daily_sd_tickers

In [ ]:
quarter_sd_tickers = pivoted.pct_change().apply(lambda x: np.log(1+x)).std().apply(lambda x: x*np.sqrt(82))
quarter_sd_tickers

In [ ]:
bar = pivoted.pct_change().apply(lambda x: np.log(1+x)).std().apply(lambda x: x*np.sqrt(62.5)).plot(kind='bar')
bar

# Covariance

# Measurement of a relationship between two variables

In [ ]:
aapl_tsla_prices = quandl.get_table('SHARADAR/SEP', ticker=['AAPL', 'TSLA'], date={'gte':'2018-09-01', 'lte':'2018-12-31'}, paginate=True)
aapl_tsla_prices.head()

In [ ]:
aapl_tsla_pivoted = aapl_tsla_prices.pivot(index='date', columns='ticker', values='close')
aapl_tsla_pivoted.head()

In [ ]:
df = aapl_tsla_pivoted.pct_change()
df.head()

In [ ]:
mean_aapl = df['AAPL'].mean()
mean_aapl

In [ ]:
mean_tsla = df['TSLA'].mean()
mean_tsla

In [ ]:
df['DEV_AAPL'] = df['AAPL'].apply(lambda x: x-mean_aapl)
df.head()

In [ ]:
df['DEV_TSLA'] = df['TSLA'].apply(lambda x: x-mean_tsla)
df.head()

In [ ]:
df['CROSS_PRODUCT'] = df['DEV_AAPL']*df['DEV_TSLA']
df.head()

In [ ]:
df['CROSS_PRODUCT'].sum()

In [ ]:
df['CROSS_PRODUCT'].sum()/(df['CROSS_PRODUCT'].count()-1)

In [ ]:
df['AAPL'].cov(df['TSLA'])

# Correlation

In [ ]:
var_tsla = df['TSLA'].var()
var_tsla

In [ ]:
var_aapl = df['AAPL'].var()
var_aapl

In [ ]:
sd_tsla = df['TSLA'].std()
sd_tsla

In [ ]:
sd_aapl = df['AAPL'].std()
sd_aapl

In [ ]:
df['TSLA'].cov(df['AAPL'])

In [ ]:
# Correlation Coefficient equation

df['TSLA'].cov(df['AAPL'])/(sd_tsla*sd_aapl)

In [ ]:
df['TSLA'].corr(df['AAPL'])

In [ ]:
df = pivoted.pct_change().apply(lambda x: np.log(1+x))
df.head()

In [ ]:
#Correlation between Disney and Apple
df['DIS'].corr(df['AAPL'])

In [ ]:
df.corr()

# Covariance & Correlation Matrix

In [ ]:
all_prices = quandl.get_table('SHARADAR/SEP', date={'gte': '2017-01-01', 'lte': '2019-12-31'}, paginate=True)
all_prices.shape

In [ ]:
all_prices.info()

In [ ]:
df = all_prices.pivot(index='date', columns='ticker', values='close').pct_change().apply(lambda x: np.log(1+x))

In [ ]:
df.cov()

In [ ]:
df.corr()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
df.corr()['DIS'].plot(kind='bar')